@charset "utf-8";
/* Cards */

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 10.0px;
	padding: 10.0px;
	margin: 40px;
	transition: 0.3s;
}

.card:hover, .card:active, .card:focus {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-blurred {
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.075);
	border-style: solid;
	border-radius: 10.0px;
	padding: 10px;
	transition: 0.3s;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

.card-blurred:hover, .card-blurred:active, .card-blurred:focus {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: white;
	transition: 0.3s;
}
