@charset "utf-8";
/* Collapsible component */

.collapsible {
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}
  
.active, .collapsible:hover {
	color: rgb(60, 60, 255);
	transition: 0.3s;
}
  
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}