@charset "utf-8";
/* Collapsible component */

.collapsible {
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
    background-color: rgb(240, 240, 255);
    padding: 10px;
    border-radius: 8px;
}

.collapsible span {
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.collapsible span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.collapsible:hover span {
    padding-right: 15px;
}
  
.collapsible:hover span:after {
    opacity: 1;
    right: 0;
}
  
.active, .collapsible:hover {
	color: rgb(60, 60, 255);
    background-color: rgb(205, 205, 255);
	transition: 0.3s;
}
  
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    background-color: rgb(248, 248, 255);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.055);
	border-radius: 10.0px;
	padding: 0px 20px;
    transition: max-height 0.2s ease-out;
}
  

  
  
  
 