@charset "utf-8";
/* Columns */

.column {
    max-width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.column-top-aligned {
    max-width: 50%;
    display: table-cell;
    vertical-align: top;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
