@charset "utf-8";
/* Top navigation bar */

body { 
    margin: 0;
}

.navbar {
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    top: 0;
    z-index: 99;
    border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    border-color: rgba(0, 0, 0, 0.155);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.055);
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 8px;
    margin: 0px 8px 0px ;
}
 
.navbar a:hover, .navbar a:active, .navbar a:focus {
    color: rgb(60, 60, 255);
    transition: 0.4s;
}
  
.navbar a.active {
    color: rgb(60, 60, 255);
}

.navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
    color: rgb(60, 60, 255);
}
  
.navbar-right {
    float: right;
}
