@charset "utf-8";
/* CSS Document */

* {
    font-family: 'Product Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

mark.blue {
    color:rgb(60, 60, 255);
    background: none;
}

.content {
    padding-top: 160px;
}

.rounded-image-bordered {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.137);
    border-style: outset;
    border-radius: 50%;
    width: 100%;
}