@charset "utf-8";
/* CSS Document */

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 10.0px;
	padding: 10.0px;
	margin-top: 20.0px;
	margin-bottom: 40.0px;
	margin-left: 40.0px;
	margin-right: 40.0px;
	background-color: white;
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
	padding: 2px 16px;
}